body {
  margin: 0;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  background: linear-gradient(rgb(0, 0, 0), rgb(7, 19, 49));
}
.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 23px;
}
.nav__item {
  margin-left: 5rem;
  color: #fdfffb;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #37383d;
  padding-bottom: 50px;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 24px;
  color: #eee;
  text-decoration: none;
}

.footer__copyright {
  font-size: 24px;
  color: #aaa;
  text-align: center;
}
