body {
  margin-left: 2%;
}
.portofoliu {
  margin-left: 2%;
  margin-bottom: 100px;
}
.portofoliu h1 {
  text-align: center;
  font-weight: bold;
}
.sir-poze {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.sir-poze img {
  width: 200px;
  height: 150px;
  border-radius: 19px;
}
